.footer {
  height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
  display: grid;
  grid-template-rows: 30% 25% 45%;
  background-color: #E7F3F7;
  -webkit-box-shadow: inset 0px 8px 8px rgba(0, 0, 0, .15);
  -moz-box-shadow: inset 0px 8px 8px rgba(0, 0, 0, .15);
  box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.15);
}

.schedule {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.announcements {
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
}

.announcements-a,
.announcements-b,
.announcements-c {
  border-right: #909090 1px solid;
}

.announcements-a,
.announcements-b,
.announcements-c,
.announcements-d {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  color: #333;
  padding-left: 15px;
  margin-bottom: 5rem;
}

.p-announcements {
  font-size: 16px;
}

.wrapper-final-footer {
  text-align: center;
}

.address {
  color: #354C58;
  font-size: 18px;
}

.customer-service {
  font-size: 18px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.a-footer {
  color: #6997B0;
  font-size: 14px;
}

.regulation {
  color: #354C58;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.rights-reserved {
  color: #354C58;
  font-size: 14px;
}