@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

// .mainContainer{
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
// }

 .displayDataCandidates p {
    color: #891928;
    font-family: Roboto;
    font-size: 1.3em;
    padding-left: 5%;
    
}

.buttonsRecruiters {
    display: flex;
    // flex-direction: row;
    // flex-wrap: wrap-reverse;
}

.selectsRecluters {
    display: flex;
    // flex-direction: row;   
}

.btn-selectRecluter {
    display: flex;
    height: 41px;
    width: 219px;
    border: 0;
    font-family: "Roboto Condensed", sans-serif;
    color: #ffffff;
    font-size: 18px;
    padding: 0 15px;
    margin-top: 2rem;
    margin-left: 15%;
    background: -webkit-linear-gradient(-90deg, #EB403C, #C9003C, #98002E);
    background: -o-linear-gradient(-90deg, #EB403C, #C9003C, #98002E);
    background: -moz-linear-gradient(-90deg, #EB403C, #C9003C, #98002E);
    background: linear-gradient(-90deg, #EB403C, #C9003C, #98002E);
}

.btn-selectRecluter option {
    color: #98002E;
}

.btn-formNewCandidate {
    height: 41px;
    width: 230px;
    border: 0;
    font-family: "Roboto Condensed", sans-serif;
    color: #ffffff;
    font-size: 17px;
    padding: 0 10px;
    margin-top: 2rem;
    margin-left: 611px;
    background: -webkit-linear-gradient(-90deg, #EB403C, #C9003C, #98002E);
    background: -o-linear-gradient(-90deg, #EB403C, #C9003C, #98002E);
    background: -moz-linear-gradient(-90deg, #EB403C, #C9003C, #98002E);
    background: linear-gradient(-90deg, #EB403C, #C9003C, #98002E);
}

.tableContainer{
    display: flex;
    justify-content: center; 
    flex-direction: column;
}

.pagination{
    display: flex;
    justify-content: center; 
    flex-direction: row;
    margin: 3%;
}

.btn-page {
    height: 41px;
    width: 230px;
    border: 0;
    font-family: "Roboto Condensed", sans-serif;
    color: #ffffff;
    font-size: 17px;
    padding: 0 10px;
    margin-top: 2rem;
    background: -webkit-linear-gradient(-90deg, #EB403C, #C9003C, #98002E);
    background: -o-linear-gradient(-90deg, #EB403C, #C9003C, #98002E);
    background: -moz-linear-gradient(-90deg, #EB403C, #C9003C, #98002E);
    background: linear-gradient(-90deg, #EB403C, #C9003C, #98002E);
}




// .btn-form-short {
// font-family: "Roboto Condensed", sans-serif;
// height: 50px;
// width: 150px;
// font-weight: bold;
// border: 0;
// font-family: "Roboto Condensed", sans-serif;
// color: #ffffff;
// font-size: 20px;
// padding: 0 15px;
// margin-top: 2rem;
// background: -webkit-linear-gradient(-90deg, #EB403C, #C9003C, #98002E);
// background: -o-linear-gradient(-90deg, #EB403C, #C9003C, #98002E);
// background: -moz-linear-gradient(-90deg, #EB403C, #C9003C, #98002E);
// background: linear-gradient(-90deg, #EB403C, #C9003C, #98002E);
// }
