@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.signUp-container {
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  /* -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column; */
  flex-direction: column;
  /* -webkit-box-pack: center;
  -ms-flex-pack: center; */
  justify-content: center;
  /* -webkit-box-align: center;
  -ms-flex-align: center; */
  align-items: center;
  font-family: "Roboto", sans-serif;
  position: relative;
  margin-top: 64px;
  background: black;
}
.signUp-container .signUpbackImg {
  width: 100%;
  opacity: 0.75;
}

.signUp-form-container {
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  /* -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #dedede;
  position: absolute;
  padding: 35px 200px;
}

.signUp-form-container p {
  font-size: 24px;
  color: #4f4f4f;
  font-weight: 600;
  margin: 0;
  text-align: center;
  margin-top: 20px
}

#signUp-form-container-w {
  display: flex;
  padding: 1% 3% 0% 3%;
  margin: 0% 1% 0% 1%

}

.formLR {
  justify-content: space-between;
  flex-direction: column;

}

.formLR label {
  font-size: 18px;
  color: #283238;
  margin-bottom: 2px;
}

.formLR input {
  width: 450px;
  height: 50px;
  border-style: none;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  font-size: 22px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  /* color: white; */
}



.labelInputSgngUp {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.signUpbtn-disabled {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(5.31%, #909090),
    to(#c4c4c4)
  );
  background: linear-gradient(90deg, #909090 5.31%, #c4c4c4 100%);
}
.signUpbtn-enabled {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#891928),
    to(#ea3e3c)
  );
  background: linear-gradient(90deg, #891928 0%, #ea3e3c 100%);
}

