@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.wrapper-stepslist {
  height: 140rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 7% 14% 14% 14% 14% 14% 14% 9%;
  grid-template-rows: 5% 14% 14% 14% 14% 14% 14% 9%;
  padding: 2rem 10rem;
  font-family: "Roboto", sans-serif;
}

.p-title-process {
  font-size: 34px;
  font-family: "Roboto", sans-serif;
  color: #283238;
}

.div-container-icon-rigth {
  // background-color: yellow;

  display: grid;
  grid-template-columns: 60% 40%;
  height: 18rem;
}

.div-container-icon-left {
  // background-color: palegreen;
  height: 22rem;

  display: grid;
  grid-template-columns: 40% 60%;
  padding-left: 7rem;
}

.wrapper-btn-information {
  display: grid;
  grid-template-columns: 20% 80%;
  font-size: 16px;
  padding-top: 50px;
  color: #283238;
  ;

  span {
    font-size: 24px;
  }
}

.icon-form {
  height: 250px;
  width: 250px;
  margin-left: 2rem;
}

.icon-house,
.icon-doctor,
.icon-folder,
.icon-man,
.icon-computer {
  height: 200px;
  width: 200px;
  margin-left: 2rem;
}

.icon-computer {
  align-self: center;
}

.btn-red-rigth {
  padding-top: 8rem;
}

.btn-red-rigth-top {
  padding-top: 5rem;
}

.checkbox-politics {
  height: 1.3rem;
  width: 1.3rem;
  margin-right: 1rem;
}

.politics {
  font-size: 16px;
  color: #283238;
}

.a-politics span {
  color: #007FAA;
}

.btn-form {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  height: 50px;
  width: 300px;
  border: 0;
  color: #ffffff;
  font-size: 20px;
  padding: 0 15px;
  margin-top: 2rem;
  //background: -webkit-linear-gradient(-90deg, #EB403C, #C9003C, #98002E);
  //background: -o-linear-gradient(-90deg, #EB403C, #C9003C, #98002E);
  //background: -moz-linear-gradient(-90deg, #EB403C, #C9003C, #98002E);
  //background: linear-gradient(-90deg, #EB403C, #C9003C, #98002E);
}

.btn-disabled{
  background: linear-gradient(90deg, #909090 5.31%, #C4C4C4 100%);
}

.btn-enabled{
  background: linear-gradient(90deg, #891928 0%, #EA3E3C 100%);
}