@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.tableStyle{
  font-family: Roboto;
  border-collapse: collapse;
  width: 100%;
}
.tableStyle td, .tableStyle th {
    border: 1px solid #ddd;
    padding: 8px;
  }
.tableStyle tr:nth-child(even){
    background-color: #F2F2F2;
}