.ip-modal-container{
	display: flex;
	flex-direction: row;
	padding: 4% 5% 7% 5%;
	min-height:50%;
}

.ip-info-postulant {
	width: 50%;
	border-top: 2px solid #891928;
	padding-top: 5%;
}

.ip-vacant-title{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 37px;
	text-align: center;
	color: #891928;
	width:100%;
	margin: 0%;
}

.ip-info-text{
	text-align: center;
	font-family: 'Roboto';
}
.ip-info-container{
	max-width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.ip-linkCV{
	color: rgba(53, 171, 238, 1);
	text-decoration-line: underline;
	cursor: pointer;
}


.ip-modal-process{
	width: 50%;
	display: flex;
	flex-direction: column;
}

.ip-info-process{
	border-top: 2px solid #891928;
	padding-top: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Roboto';
}

.ip-imgProcess{
	width: 50%;
}

.ip-buttons-container{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.ip-modal-button {
	background-color: rgba(253, 181, 19, 1);
	color: white;
	font-family: 'Roboto';
	font-style: bold;
	padding: 1%;
	margin: 5%;
	width: 60%;
	height: 50%;
	align-self: center;
	border-style: none;
	cursor: pointer;
}
.ip-modal-button:hover {
  background-color: #D73F3C;
}
