.modalStatus-container {
	font-family: 'Roboto';
	min-height: 50%;
	padding: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.modalStatus-title{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 37px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #891928;
	/* border-bottom: 2px solid #891928; */
	width:85%;
	margin:3% 8% 2% 8%;
	overflow:hidden;
} 
.modalStatus-texarea {
	height: 200px;
	width: 80%;
	margin-bottom: 5%;
	overflow:hidden;
}

.modalStatus-msg{
	width: 80%;
}

.modalStatus-input {
	width: 80%;
	margin: 2%;
	height: 25px;
	border-radius: 3%;
	border-color: rgb(51, 50, 50);
	border-width: 1px;
}

.modalStatus-smallTexarea {
	height: 50px;
	width: 100%;
}

.modlStatus-addmessage{
	height: 50px;
	width: 80%;
	margin: 5%;
}


.modalStatus-button {
	background-color: rgba(253, 181, 19, 1);
	color: white;
	font-family: 'Roboto';
	font-style: bold;
	padding: 1%;
	margin: 5%;
	width: 30%;
	height: 45%;
	align-self: center;
	border-style: none;
	cursor: pointer;
}

.modalStatus-button:hover {
  background-color: #D73F3C;
}



